h1 {
    font-size: 45px;
    text-align: center;
    margin:20px;
}

main {
    display: flex;
    justify-content: space-evenly;
}

main p {
    font-size:25px;
    margin-top: 80px;
    width:45vw;
}

main img {
    width:50vw;
}